{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mb-4">
  <h1>Success World</h1>
</div>
<div class="row justify-content-center mb-3">
  <p class="h4 text-center mb-3">For New Comer To Success World <a href="/users/new">Sign in </a> Key TO Success World IS Open ... 
    </p>
</div>
<div class="row justify-content-center mb-3">
  <p class="h4 text-center mb-3">Demo Account To Check Out Is Available <a href="/users/demo">Here IS Demo-Account</a>. It's easy!</p>
</div>
<div class="row justify-content-center mb-5">
  <img src="static/images/undraw_Online_learning_re_qw08.svg" alt="" class="svg">
</div>
<div class="row justify-content-center mb-5">
  <p class="h3 px-4 text-center">><b class="bg-white">Road To Suceess<strong class="bg-warning">***Success World***</strong>Let's Begin </b>  </p>
</div>

{% endblock %}